@font-face {
  font-family: "helv";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvT";
  src: url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvet Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa-Light";
  src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa-Medium";
  src: url("../fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 18%;
  }
}
@keyframes animate {
  0% {
    transform: perspective(100rem) rotateY(0deg);
  }
  100% {
    transform: perspective(100rem) rotateY(360deg);
  }
}
body {
  position: relative;
}

.bodyOne {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../img/imagefon.jpg);
  background-size: cover;
}

.box {
  position: relative;
  width: 20rem;
  height: 30rem;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
.box span {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(40rem);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2666666667));
}
.box span img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sect-bank {
  background: rgb(203, 252, 139);
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../img/strawberry_background.jpg) center/cover no-repeat;
}
.sect-bank__toggle {
  display: none;
  width: 100%;
  height: 100%;
}
.sect-bank__button {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  background: rgba(94, 185, 171, 0);
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
}
.sect-bank__button img {
  width: 25rem;
  height: 25rem;
}
.sect-bank__box {
  height: 63rem;
  width: 30rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
}
.sect-bank__box img {
  width: 100%;
  height: 100%;
}
.sect-bank__box__bank {
  height: 40rem;
  width: 28rem;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
  z-index: 20;
  background: url(../img/Banka.png) center/cover no-repeat;
  opacity: 0.8;
  -webkit-box-reflect: below -10px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2666666667));
}
.sect-bank__box__toper {
  height: 5rem;
  width: 23rem;
  position: relative;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
  z-index: 21;
}
.sect-bank__box__cherry_1 {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 58%;
  left: 74%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
  z-index: 5;
}
.sect-bank__box__cherry_2 {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
  z-index: 5;
}
.sect-bank__box__cherry_3 {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
  z-index: 5;
}
.sect-bank__box__cherry_4 {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 88%;
  left: 29%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
  z-index: 5;
}
.sect-bank__box__cherry_5 {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 87%;
  left: 73%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
  z-index: 5;
}
.sect-bank__box__cherry_6 {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 59%;
  left: 26%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
  z-index: 5;
}
.sect-bank__box__logo {
  position: absolute;
  width: 50rem;
  z-index: 23;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
}
.sect-bank__toggle:checked ~ .sect-bank__box__logo {
  width: 26rem;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
}
.sect-bank__toggle:checked ~ .sect-bank__box__toper {
  top: 3%;
  left: 39%;
  transform: rotate(60deg);
  transition: All 0.7s ease-out;
  backface-visibility: hidden;
}
.sect-bank__toggle:checked ~ .sect-bank__box__cherry_1 {
  top: -3%;
  left: 15%;
  transform: rotate(270deg);
}
.sect-bank__toggle:checked ~ .sect-bank__box__cherry_2 {
  top: -8%;
  left: -28%;
  transform: rotate(270deg);
}
.sect-bank__toggle:checked ~ .sect-bank__box__cherry_3 {
  top: 16%;
  left: -14%;
  transform: rotate(270deg);
}
.sect-bank__toggle:checked ~ .sect-bank__box__cherry_4 {
  top: 22%;
  left: 58%;
  transform: rotate(270deg);
}
.sect-bank__toggle:checked ~ .sect-bank__box__cherry_5 {
  top: 14%;
  left: 26%;
  transform: rotate(270deg);
}
.sect-bank__toggle:checked ~ .sect-bank__box__cherry_6 {
  top: -1%;
  left: 84%;
  transform: rotate(270deg);
}/*# sourceMappingURL=style_anime.css.map */